#login-container {
  padding-top: 90px;
  margin: 0 auto;
  max-width: 35%;
}

#reset-password-container {
  padding-top: 90px;
  margin: 0 auto;
  max-width: 50%;
}

#user-data-container {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

#change-password-container {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 35%;
}

#unlock-container {
  padding-top: 90px;
  margin: 0 auto;
  max-width: 50%;
}

#register-user-container {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 70%;
  textarea {
    height: 20px;
  }
}

#edit-register-user-container {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
  textarea {
    height: 20px;
  }
}