// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts-container {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 95%;
}

.post-for {
  font-size: 14px;
  padding-top: 10px;
}