p Olá #{@resource.full_name}!

p Identicamos que houve uma solicitação para mudança da sua senha de acesso ao Blog RoR. Você pode fazer isso através do link abaixo.

p = link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token)

p Se você não pediu isso, por favor, ignore este e-mail.

p Sua senha não será alterada até que você acessar o link acima e criar uma nova.
